# Python Session 2

# Topics:
1. For Loop
2. While Loop

3. Break Statement

4. Continue Statement

5. range() statement

6. Data Structure:List, Tuple, Dictionary,Set

7. Working with List

8. Assignments

# Next Session:
    Dictionary/Set
    Lambda Function
    OOP in Python

# Looping in Python:
There are two types of loops in Python, for and while.
The "for" loop
For loops iterate over a given sequence.

The Python for loop starts with the keyword "for" followed by an arbitrary variable name, which will hold the values of the following sequence object, which is stepped through.

For loops can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient.
However, please note that there is no xrange function in Python 3.

In [16]:
languages = ["C", "C++", "Perl", "Python"] 
for x in languages:
    print(x)

C
C++
Perl
Python

In [2]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [5]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

Python's range() Parameters

The range() function has two sets of parameters, as follows:

range(stop)

stop: Number of integers (whole numbers) to generate, starting from zero. eg. range(3) == [0, 1, 2].
range([start], stop[, step])

start: Starting number of the sequence.
stop: Generate numbers up to, but not including this number.
step: Difference between each number in the sequence.

In [6]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

In [7]:
# Going backwards
for i in range(0, -10, -2):
    print(i)

0
-2
-4
-6
-8

In [1]:
nums = [1, 2, 4, 8, 16] #similar to for(int i = 0 ; i < nums.length ; i++)
for i in range(len(nums)):
    nums[i] = nums[i] * 2
nums

[2, 4, 8, 16, 32]

# Enumerate

In [4]:
def double_odds(nums):
    for i, num in enumerate(nums):
        if num % 2 == 1:
            nums[i] = num * 2

x = list(range(10))
double_odds(x)
x

[0, 2, 2, 6, 4, 10, 6, 14, 8, 18]

In [5]:
list(enumerate(['a', 'b']))

[(0, 'a'), (1, 'b')]

In [6]:
nums = [
    ('one', 1, 'I'),
    ('two', 2, 'II'),
    ('three', 3, 'III'),
    ('four', 4, 'IV'),
]

for word, integer, roman_numeral in nums:
    print(integer, word, roman_numeral, sep=' = ', end='; ')

1 = one = I; 2 = two = II; 3 = three = III; 4 = four = IV;

# "While" Loop

While loops repeat as long as a certain boolean condition is met. For example:

In [9]:
# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

# "Else" statement with Loops

# Using else Statement with Loops
Python supports to have an else statement associated with a loop statement.

If the else statement is used with a for loop, the else statement is executed when the loop has exhausted iterating the list.

If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

The following example illustrates the combination of an else statement with a while statement that prints a number as long as it is less than 5, otherwise else statement gets executed.

# Else statement with "while" loop

In [12]:
count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

# Else statement with "For" Loop

### for loop with break and else:   if break is executed else part is not executed

In [18]:
edibles = ["ham", "spam","eggs","nuts"]
for x in edibles:
    if x == "spam":
        print("No more spam please!")
        break
    print("Great, delicious " + food)
else:
    print("I am so glad: No spam!")
print("Finally, I finished stuffing myself")

Great, delicious spam
No more spam please!
Finally, I finished stuffing myself

# "Break" and "Continue" statements

Break is used to exit a for loop or a while loop, whereas continue is used to skip the current block, and return to the "for" or "while" statement. A few examples:

In [15]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [14]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

# Data Structure in Python

The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so forth.

Python has six built-in types of sequences (str, unicode, list, tuple, buffer, xrange), but the most common ones are lists and tuples, which we would see in this tutorial. If you want to know more, please consult this link:
 https://docs.python.org/2.4/lib/typesseq.html   

There are certain things you can do with all sequence types. These operations include indexing, slicing, adding, multiplying, and checking for membership. In addition, Python has built-in functions for finding the length of a sequence and for finding its largest and smallest elements.

# Python Lists

The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that items in a list need not be of the same type.

Creating a list is as simple as putting different comma-separated values between square brackets. For example −

In [27]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

Similar to string indices, list indices start at 0, and lists can be sliced, concatenated and so on.

# Accessing Values in Lists

To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −

In [28]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[0])

list1[0]:  physics

In [33]:
print ("list2[1:5]: ", list2[1:5])

list2[1:5]:  [2, 3, 4, 5]

# Indexing in Python

The indexing operator ([ ]) selects a single element from a sequence. The expression inside brackets is called the index, and must be an integer value. The index indicates which element to select, hence its name.

In [22]:
fruit = "banana"
print(fruit[1])

a

The expression fruit[1] selects the character with index 1 from fruit, and creates a new string containing just this one character, which you may be surprised to see is 'a'.
You probably expected to see 'b', but computer scientists typically start counting from zero, not one. Think of the index as the numbers on a ruler measuring how many elements you have moved into the sequence from the beginning. Both rulers and indices start at 0.

In [23]:
fruits = ['apples', 'cherries', 'pears']
print(fruits[0])

apples

# Slice

A subsequence of a sequence is called a slice and the operation that extracts a subsequence is called slicing. Like with indexing, we use square brackets ([ ]) as the slice operator, but instead of one integer value inside we have two, seperated by a colon (:):

In [34]:
singers = "Peter, Paul, and Mary"
print(singers[0:5])

print(singers[7:11])

print(singers[17:21])

classmates = ["Alejandro", "Ed", "Kathryn", "Presila", "Sean", "Peter"]
print(classmates[2:4])

Peter
Paul
Mary
['Kathryn', 'Presila']

The operator [n:m] returns the part of the sequence from the n’th element to the m’th element, including the first but excluding the last. This behavior is counter-intuitive; it makes more sense if you imagine the indices pointing between the characters, as in the following diagram:

If you omit the first index (before the colon), the slice starts at the beginning of the string. If you omit the second index, the slice goes to the end of the string. Thus:

In [38]:
fruit = "banana"
print(fruit[:3])

ban

In [36]:
print(fruit[3:])

ana

In [40]:
string="Rayban"
print(string[-2:])

an

In [41]:
string="Rayban"
print(string[:-2])

Rayb

#a[-1]    # last item in the array/list

a[-2:]   # last two items in the array/list

a[:-2]   # everything except the last two items

+ve index forward direction (from left to right)
-ve index negative direction (from right to left) in backward direction from begin to end+1 


In forward direction:
Default value for begin is 0
Default value for end is length of string
Default value for step is 1

In backward direction:
Default value for begin is –(length of string+1)
Default value for end is -1 and element at -1 is included

# Lists are mutable

Unlike strings and tuples, which are immutable objects, lists are mutable, which means we can change their elements. Using the bracket operator on the left side of an assignment, we can update one of the elements:

In [42]:
fruit = ["banana", "apple", "quince"]
fruit[0] = "pear"
fruit[-1] = "orange"
print(fruit)

['pear', 'apple', 'orange']

# Delete List Elements

To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the remove() method if you do not know. For example −

In [43]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

# Sort List Elements

sort(key = None , reverse = False) // by default
key is the to get the item on the basis of which you need to order 
reverse is the order in which you need the results

In [17]:
list1 = ['physics', 'chemistry','maths','123']
print (list1)
list1.sort();
print ("After sorting value : ")
print (list1)

['physics', 'chemistry', 'maths', '123']
After sorting value :
['123', 'chemistry', 'maths', 'physics']

In [48]:
#Length
len([1, 2, 3])
#Concatenation
[1, 2, 3] + [4, 5, 6]
#Repition
['Hi!'] * 4
#Membership
3 in [1, 2, 3]

True

In [49]:
L = ['spam', 'Spam', 'SPAM!']

In [51]:
L[2]
#Offsets start at zero

'SPAM!'

In [52]:
L[-2]
#Negative: count from the right

'Spam'

# Conversion to list

Python In built List Functions:
cmp(list1, list2)
Compares elements of both lists.
len(list)
Gives the total length of the list.
max(list)
Returns item from the list with max value.
min(list)
Returns item from the list with min value.
list(seq)
Converts a tuple into list.

In [54]:
aTuple = (123, 'xyz', 'zara', 'abc');
aList = list(aTuple)
print ("List elements : ", aList)

List elements :  [123, 'xyz', 'zara', 'abc']

# Append to list

In [55]:
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [56]:
aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

# Extend in List

In [57]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'manni'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

# Reverse a list

In [58]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.reverse();
print ("List : ", aList)

List :  ['xyz', 'abc', 'zara', 'xyz', 123]

# Remove from List

In [67]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

This method does not return any value but add the content to existing list.

# Tuple in Python:

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [24]:
prices = (3.99, 6.00, 10.00, 5.25)
print(prices[3])

5.25

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [29]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

###### To write a tuple containing a single value you have to include a comma, even though there is only one value

In [30]:
tup4 = (50,)

Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

# Accessing Values in Tuples

To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −

In [32]:
print ("tup1[0]: ", tup1[0])

tup1[0]:  physics

In [31]:
print ("tup2[1:5]: ", tup2[1:5])

tup2[1:5]:  (2, 3, 4, 5)

Updating Tuple

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −

In [60]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [61]:
len((1, 2, 3))

3

In [63]:
#Concatenation
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [64]:
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [65]:
3 in (1, 2, 3)

True

# Assignments:

Assignment 1. Write a for-loop that iterates over start_list and .append()s each number cubed
(x ** 3) to cubed_list.
2. Then sort cubed_list!
Given: start_list = [5, 3, 1, 2, 4]

In [1]:
start_list = [5 , 3 , 1 , 2 , 4]
cubed_list = []
for x in start_list:
    cubed_list.append(x**3)
cubed_list.sort()
print(cubed_list)

[1, 8, 27, 64, 125]

Assignment 2. Define a function called join_strings accepts an argument called words. It will be a
list.
2. Inside the function, create a variable called result and set it to "", an empty string.
3. Iterate through the words list and append each word to result.
4. Finally, return the result.

In [3]:
def join_strings(word_list):
    result = ""
    for word in word_list:
        result = result + " " + word
    return result
word_list = ["Happy" , "to" , "code"]
string = join_strings(word_list);
print(string.lstrip() , sep = ' ')

Happy to code

Assignment 3: Create a function that joins two lists together.
1. Create two lists a and b
2. Define a function called join_lists that has two arguments, x and y. They will both be
lists.
3. Inside that function, return the result of concatenating x and y together.
4. Print the concatenated list after returning it from the join_lists function

In [35]:
def join_lists(x , y):
    x.extend(y)
    return x
a = ["Love" , "Coding"]
b = ["Python" , "makes" , "easy"]
merged_list = join_lists(a , b)
print(merged_list)

['Love', 'Coding', 'Python', 'makes', 'easy']

Assignment 4: Create a function called listconc that takes a single list and concatenates all the sublists that
are part of it into a single list.
1. Define a function called listconc with one argument called n.
2. Make a new, empty list called conc.
3. Iterate through n. Call the looping variable item.
4. Iterate through item.
5. For each number, .append() it to conc.
6. Finally, return conc from your function.

In [36]:
def listconc(n):
    conc = []
    for x in range(n):
        conc.append(x)
    return conc
print(listconc(5))

[0, 1, 2, 3, 4]

Assignmnet 5: Create a while loop that prints out all the numbers from 1 to 10 squared (1, 4, 9, 16, ... , 100),
each on their own line.

In [23]:
count = 1
while count <= 10:
    print(count**2 , end = " ")
    count = count + 1

1 4 9 16 25 36 49 64 81 100