In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import sklearn
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [15]:
df1 = pd.read_csv('C:/Users/IBM_ADMIN/Desktop/CBEC/PPT/Byte/logistic.csv')
print(df1)

    Attrition  Trans_Amt_Oct12   Trans_Amt_Nov12   Trans_Amt_Dec12   \
0           0                24                36               427
1           0                68               227               221
2           0               339               402               489
3           0               298               111               232
4           1               109               243               179
5           1               483               201               371
6           0               494               458               211
7           0               246               204               185
8           0               284               312               444
9           0               301               240               119
10          0               217                89               432
11          1                61               114               346
12          1               439               230               249
13          0               102               324               321
14          0               333               281               140
15          0               216               279                66
16          0               161                12                77
17          1                73               294               260
18          1               421               398               488
19          0               245                49               380
20          0               300               265               313
21          0                82               128               216
22          0               496               186               197
23          0               188               442                88
24          0               123               226               288
25          0                93               355               454
26          0               428               136               419
27          0               126               377                19
28          1               411               365               359

    Trans_Amt_Jan13   Trans_Amt_Feb13   Trans_Amt_Mar13
0                385               493               319
1                 23               232                63
2                375               393               125
3                127               315               246
4                153               257               327
5                167               296               420
6                457                24               115
7                111                15                67
8                238               195               374
9                 94               176                45
10               106                67               430
11               237                81                45
12               269               293               259
13                43               221               182
14               170               256               401
15               109                 4               320
16               167               432                90
17                12               220                 3
18               455               181               158
19               129                84               100
20               286               406               229
21               486                63                87
22               272               482               420
23                71               458               205
24               301               268               118
25                83               488               185
26               126               302                70
27               356               496               100
28               327               411               174

In [16]:
credit=pd.DataFrame(df1)
credit.head()

,Attrition,Trans_Amt_Oct12,Trans_Amt_Nov12,Trans_Amt_Dec12,Trans_Amt_Jan13,Trans_Amt_Feb13,Trans_Amt_Mar13
0,0,24,36,427,385,493,319
1,0,68,227,221,23,232,63
2,0,339,402,489,375,393,125
3,0,298,111,232,127,315,246
4,1,109,243,179,153,257,327

In [17]:
Y=credit['Attrition']
print(Y)

0     0
1     0
2     0
3     0
4     1
5     1
6     0
7     0
8     0
9     0
10    0
11    1
12    1
13    0
14    0
15    0
16    0
17    1
18    1
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    1
Name: Attrition, dtype: int64

In [19]:
X=credit.drop('Attrition', axis=1)
print(X)

    Trans_Amt_Oct12   Trans_Amt_Nov12   Trans_Amt_Dec12   Trans_Amt_Jan13   \
0                 24                36               427               385
1                 68               227               221                23
2                339               402               489               375
3                298               111               232               127
4                109               243               179               153
5                483               201               371               167
6                494               458               211               457
7                246               204               185               111
8                284               312               444               238
9                301               240               119                94
10               217                89               432               106
11                61               114               346               237
12               439               230               249               269
13               102               324               321                43
14               333               281               140               170
15               216               279                66               109
16               161                12                77               167
17                73               294               260                12
18               421               398               488               455
19               245                49               380               129
20               300               265               313               286
21                82               128               216               486
22               496               186               197               272
23               188               442                88                71
24               123               226               288               301
25                93               355               454                83
26               428               136               419               126
27               126               377                19               356
28               411               365               359               327

    Trans_Amt_Feb13   Trans_Amt_Mar13
0                493               319
1                232                63
2                393               125
3                315               246
4                257               327
5                296               420
6                 24               115
7                 15                67
8                195               374
9                176                45
10                67               430
11                81                45
12               293               259
13               221               182
14               256               401
15                 4               320
16               432                90
17               220                 3
18               181               158
19                84               100
20               406               229
21                63                87
22               482               420
23               458               205
24               268               118
25               488               185
26               302                70
27               496               100
28               411               174

In [20]:
logistic = LogisticRegression()
logistic.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [21]:
logistic.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [23]:
import statsmodels.api as sm
logit = sm.Logit(Y,X)

In [24]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.565591
         Iterations 5

In [26]:
print (result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                   29
Model:                          Logit   Df Residuals:                       23
Method:                           MLE   Df Model:                            5
Date:                Sun, 13 Aug 2017   Pseudo R-squ.:                -0.02339
Time:                        10:16:34   Log-Likelihood:                -16.402
converged:                       True   LL-Null:                       -16.027
                                        LLR p-value:                     1.000
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Trans_Amt_Oct12      0.0010      0.003      0.301      0.763      -0.006       0.008
Trans_Amt_Nov12     -0.0009      0.003     -0.267      0.790      -0.008       0.006
Trans_Amt_Dec12      0.0007      0.003      0.219      0.827      -0.005       0.006
Trans_Amt_Jan13     -0.0009      0.003     -0.271      0.786      -0.007       0.006
Trans_Amt_Feb13     -0.0025      0.003     -0.884      0.377      -0.008       0.003
Trans_Amt_Mar13     -0.0020      0.003     -0.575      0.565      -0.009       0.005
====================================================================================

Compute Odds Ratio

In [31]:
print (np.exp(result.params))

Trans_Amt_Oct12     1.001011
Trans_Amt_Nov12     0.999074
Trans_Amt_Dec12     1.000651
Trans_Amt_Jan13     0.999101
Trans_Amt_Feb13     0.997545
Trans_Amt_Mar13     0.998032
dtype: float64